<style>
     h1{
	  text-align: center;
	  color: red;
	  background-color: yellow;
	  width: auto;
	  height: auto;
	  font-size: 30px;
	  
	  }
    .tribute{
	background-color: pink;
	border-style: solid;
	padding: 10px 10px 10px 10px;}
	.image{
	width: auto;
	float:right;
	border-width: 10px;
	border-style: double;
	border-color: black;
	height: auto;
	border-radius: 10px;
	margin: auto;
	}
	.info{
	color: green;
	position: relative;
	color: hsl(50%);
	
	}
	a:hover{
	color: red;
	}
</style>
